* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: darkgray;
}
#canvas {
	background: transparent;
	opacity: 80%;
	top: 0;
	left: 0;
}

#canvas1 {
	position: absolute;
	top: 0;
	left: 0;
	filter: blur(30px) contrast(21);
	/* height: 100%;
	width: 100%; */
}
